streamlit
pandas
numpy
matplotlib
seaborn
scikit-learn
joblib

# NLP + Transformers
sentence-transformers
transformers
torch
accelerate
huggingface-hub

# WordCloud + Tools
wordcloud
scipy
